<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <h1 class="text-3xl text-white mb-3 tracking-tighter">All Users</h1>
      <div class="users">
        <div class="user max-w-72 p-4 bg-zinc-800 rounded-lg">
            <div class="w-full h-52 bg-red-500 rounded-lg"></div>
            <h3 class="w-full text-white tracking-tighter mt-3 text-2xl">Priyanka Saha</h3>
            <h5 class="text-zinc-500">priyanka@gmail.com</h5>
            <div class="flex-gap-3">
                <a href="edit user"></a>
                <a href="edit user"></a>
            </div>
        </div>
      </div>
    </div>
</body>
</html>